<a href="https://colab.research.google.com/github/Paether22/Coursera-JupiterNoteBook/blob/main/Tableu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install tabula-py

Requirement already satisfied: tabula-py in /usr/local/lib/python3.10/dist-packages (2.7.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.5.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.22.4)
Requirement already satisfied: distro in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.8.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)

In [ ]:
import tabula
import pandas as pd
import numpy as np

In [ ]:
file = '/tabula/Mercedes-Benz_szemelygepkocsi_alaparlista_2023_06_01.pdf'
box = [3.8,3.9,22.6,16.1]
box_last = [3.8,3.9,14.2,16.1]
fc = 28.28
for i in range(0, len(box)):
  box[i] *= fc
for n in range(0,len(box_last)):
  box_last[n] *= fc

In [ ]:
table = tabula.read_pdf(file,pages='1,2', area = [box], stream = True, encoding="utf-8")
table_last = tabula.read_pdf(file,pages='3', area = [box_last], stream = True, encoding="utf-8")
table_ful = table + table_last

In [ ]:
for x in range(0,len(table_ful)):
  table_ful[x].drop(table_ful[x].iloc[:, 2:9], inplace=True,axis=1)

In [ ]:
table_column1 = table_ful[0].columns.tolist()
table_column2 = table_ful[1].columns.tolist()
table_column3 = table_ful[2].columns.tolist()

In [ ]:
table_ful[0].loc[-1] = table_column1
table_ful[0].index = table_ful[0].index + 1
table_ful[0] = table_ful[0].sort_index()
table_ful[0] = table_ful[0].reset_index(drop=True)

table_ful[1].loc[-1] = table_column2
table_ful[1].index = table_ful[1].index + 1
table_ful[1] = table_ful[1].sort_index()
table_ful[1] = table_ful[1].reset_index(drop=True)

table_ful[2].loc[-1] = table_column3
table_ful[2].index = table_ful[2].index + 1
table_ful[2] = table_ful[2].sort_index()
table_ful[2] = table_ful[2].reset_index(drop=True)

table_ful[0].head()

    Unnamed: 0                  A 180 d 177 010  14 754 00
0   Unnamed: 0                  A 180 d 177 010  14 754 00
1          NaN                  A 200 d 177 012  14 832 00
2  A - osztály                  A 220 d 177 014  16 137 00
3          NaN  A 180 Mild hybrid drive 177 084  13 889 00
4          NaN  A 200 Mild hybrid drive 177 087  14 745 00

In [ ]:
table_ful[0] = table_ful[0].rename(columns={'Unnamed: 0':'Osztaly','A 180 d 177 010':'Tipus','14 754 00':'Ar' })
table_ful[1] = table_ful[1].rename(columns={'Unnamed: 0':'Osztaly','C 180 limuzin Mild hybrid drive 206 041':'Tipus','18 137 00':'Ar' })
table_ful[2] = table_ful[2].rename(columns={'Unnamed: 0':'Osztaly','CLS 220 d 257 314':'Tipus','32 086 00':'Ar' })

In [ ]:
frames = [table_ful[0],table_ful[1],table_ful[2]]
final_df = pd.concat(frames,ignore_index=True)
final_df.to_csv("mercedez.csv", encoding='utf-8')